.container{
    background: rgba(49, 49, 48, 0.133);
    width: 50%;
    height: 200px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 10%;
    padding: 22px;
    border-radius: 20px;
    box-shadow:2px 2px 2px  2px gray,
                -2px -2px 2px 2px gray ;
}
#title{
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    
}
.container .btn{
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 18px;
    background: transparent;
    border: 1px solid green;
    cursor: pointer;
    box-shadow: 2px 2px 3px 1px #617861,-2px -2px 3px 1px #617861 ;
}
.btn:hover{
    background-color: green;
    color: #fff;
    /* border:none; */
}